.navBar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    /* padding: 20px; */
    /* padding-right: 100px; */
    background-color: #701270;
    color: #f7e8f9;

    z-index: 5;
}

.sectionOne,
.sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}


.sectionOne a{
    font-weight: bold;
}

.logo {
    font-family: cursive;
}

.navLinks {
    cursor: pointer;
    text-decoration: none;
    color: #f7e8f9;
}

.navItem {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navItem .avatar{
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 8px;
}