.product-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #efefef;
    box-shadow: 1px 1px 7px 1px #a2a2a2;
    cursor: pointer;
    position: relative;
}
.image-proce-rating-conainer{
    display: flex;
    align-items: center;
}

.title-container{
    margin-bottom: 8px;
}
.price-container{
    margin-bottom: 8px;
}

.product-card img{
    width: 200px;
    margin-right: 60px;
}


.title-rating-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desc-actions{
    width: 50%;
}

.desc-actions .description-container{
    margin-bottom: 15px;
}

.desc-actions .action-container{
    display: flex;
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
    right: 5px;
}

.desc-actions .action-icon img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}


input, textarea{
    font-size: 15px;
    padding: 5px;
    font-family: "Amazon Ember", sans-serif;
}